@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body { font: 12pt Arial; background-color: gray; }
h1, h2, h3 { font-family: 'Pacifico', cursive; font-weight: normal;}
button { font-size: 12pt; padding: 30px; }  

p{font-family: 'Times New Roman', Times, serif;}



.b1{
    font-size: 12pt; 
    padding: 15px;
    background-color: rgb(82, 189, 21);
    border: none;
    border-radius: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);

}


.b1-active {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    transform: translateY(2px);
}