body{
    background: rgb(86, 86, 167);
    font: normal 15pt Arial;
}

header{
    color: rgb(17, 17, 17);
    text-align: center;

}

section{
    background: rgb(177, 172, 172);
    border-radius: 10px; 
    box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.774); 
    padding: 15px;
    width: 500px;
    margin: auto;
}

footer{
    color: rgb(13, 14, 14);
    text-align: center;
    font-style: italic;
}

select{
    display: block;
    text-align: center;
    width: 40%;
   
}
